{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/png" href="{{assetsUrlJoin 'favicon.ico'}}"/>
        <title>{{title }}</title>
        <link rel="stylesheet" href="{{assetsUrlJoin 'css' 'style.css'}}">
        {{#if baseURI}}
            <base href="{{baseURI}}">
        {{/if}}
    </head>
    <body>
        {{#unless (config "PRESENTATION_MODE")}}
            {{#unless hideChrome}}
                {{> nav}}
            {{/unless}}
        {{/unless}}
        {{{body}}}
    </body>
</html>
