{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}

{{! Required for jupyter-js-widgets }}
<link rel='stylesheet' href='/components/bootstrap/css/bootstrap.min.css'>
<link rel='stylesheet' href='/components/jquery-ui/jquery-ui.min.css'>
<link rel='stylesheet' href='/components/widgets.min.css'>
{{! Required for gridstack }}
<link rel='stylesheet' href='/components/gridstack.min.css'>
{{! Required for dashboard }}
<link rel="stylesheet" href="/css/style.css">

<noscript>
<div id='noscript'>
    This page requires JavaScript.<br>
    Please enable it to proceed.
</div>
</noscript>

{{> nav}}

<div id="outer-dashboard">
    <div id="dashboard-container" class="grid-stack invisible">
        {{#each notebook.cells}}
            {{#if metadata.urth.dashboard.layout}}
                {{#with metadata.urth.dashboard.layout}}
                    <div class='dashboard-cell grid-stack-item {{mapCellType ../cell_type}}'
                        data-gs-x='{{col}}'
                        data-gs-y={{row}}
                        data-gs-width={{width}}
                        data-gs-height={{height}}>{{{markdownContent ../cell_type ../source}}}</div>
                {{/with}}
            {{else}}
                    <div class='dashboard-cell hidden {{mapCellType ../cell_type}}'></div>
            {{/if}}
        {{/each}}
    </div>

    <div class="busy-indicator progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
    </div>
</div>

<script src="/components/require.js" data-main="/js/dashboard.js"></script>
<script>
    var Config = window.Config = window.Config || {};
    {{#if notebook.metadata.urth.dashboard}}
        {{#with notebook.metadata.urth.dashboard}}
            Config.cellMargin = {{cellMargin}};
            Config.defaultCellHeight = {{defaultCellHeight}};
            Config.maxColumns = {{maxColumns}};
        {{/with}}
    {{else}}
        Config.cellMargin = {{{config 'DB_CELL_MARGIN'}}};
        Config.defaultCellHeight = {{{config 'DB_DEFAULT_CELL_HEIGHT'}}};
        Config.maxColumns = {{{config 'DB_MAX_COLUMNS'}}};
    {{/if}}
</script>
