{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}

<noscript>
    <div id="noscript">
        This page requires JavaScript.<br>
        Please enable it to proceed.
    </div>
</noscript>

<div id="outer-dashboard">
    {{! Might need to refactor this line to better handle author mode?}}
    <div id="dashboard-container" class="invisible container"
        data-dashboard-layout="{{dashboardLayout}}">
        {{#each notebook.cells}}
            {{#if (isVisible metadata)}}
                <div class="cell dashboard-cell {{mapCellType cell_type}}" data-cell-index="{{@index}}"
                    {{~#each metadata.urth.dashboard.layout~}}
                        data-layout-{{@key}}="{{this}}"
                    {{~/each~}}
                    >{{{markdownContent cell_type source}}}</div>
            {{else}}
                <div class="cell dashboard-cell dashboard-hidden {{mapCellType cell_type}}" data-cell-index={{@index}}>
                    {{{markdownContent cell_type source}}}
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="busy-indicator progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
    </div>
</div>

<script>
    (function() {
        var db = window.jupyter_dashboard = window.jupyter_dashboard || {};
        var Config = db.Config = db.Config || {};
        Config.kernelname = "{{notebook.metadata.kernelspec.name}}";
        // values from notebook metadata
        {{#each notebook.metadata.urth.dashboard}}
            Config.{{@key}} = "{{this}}";
        {{/each}}

        // default layout values
        {{#each (defaultDashboardConfig dashboardLayout)}}
            {{#unless (lookup ../notebook.metadata.urth.dashboard @key)}}
            Config.{{@key}} = "{{this}}";
            {{/unless}}
        {{/each}}

        // Declarative widget support
        {{#if supportsDeclWidgets}}
            Config.supportsDeclWidgets = true;
        {{/if}}
    })();
</script>
<script src="/components/require.js"></script>
<script src="/components/dashboard.js"></script>
