{{!
    Copyright (c) Jupyter Development Team.
    Distributed under the terms of the Modified BSD License.
}}
<div id="list-container" class="container">
    <ul class="list-group">
        <!-- List title as a special li with path breadcrumbs -->
        <li class="list-header list-group-item">
            <label class="list-header-label">Dashboards</label>
            <ul class="breadcrumb">
                <li><a href="{{urlJoin '/dashboards'}}"><i class="fa fa-home"></i></a></li>
                {{#each (basename url)}}
                    <li>
                        {{#if @last}}
                            <label class="breadcrumb-end">{{urlBasename this}}</label>
                        {{else}}
                            <a class="breadcrumb-link" href="{{urlJoin '/dashboards' this}}">{{urlBasename this}}</a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </li>
        {{#each items}}
            <li class="list-group-item">
                <i class="list-item-icon {{fsIcon type}}"></i>
                <a href="{{urlJoin '/dashboards' path}}">{{urlBasename path}}</a>
            </li>
        {{/each}}
    </ul>
</div>
